appdirs==1.4.4
attrdict==2.0.1
aubio==0.4.9
awscli==1.32.1
beautifulsoup4==4.12.3
botocore==1.34.1
bpytop==1.0.63
Brotli==1.0.9
build==1.2.1
caca==0.99b19
calver==2022.6.26
certifi==2021.10.8
cffi==1.15.0
chardet==4.0.0
charset-normalizer==2.0.10
click==8.1.6
colorama==0.4.4
configobj==5.0.8
cssmin==0.2.0
cssselect==1.2.0
cupshelpers==1.0
cwiid==0.6.0
Cython==0.29.36
daemonize==2.5.0
distro==1.6.0
dnspython==2.1.0
docopt==0.6.2
docutils==0.17.1
doxypypy==0.8.8.6
doxyqml==0.5.1
editables==0.5
exceptiongroup==1.2.0
ffmpeg-media-converter==0.2.1
flit_core==3.9.0
flit_scm==1.7.0
formiko==1.4.3
future==0.18.2
GDAL==3.8.3
getmail6==6.18.6
google-apputils==0.4.2
gpg==1.16.0
gyp==0.1
hatch-vcs==0.4.0
hatchling==1.22.5
html5lib==1.1
httplib2==0.11.3
idna==3.3
include_server==3.4
iniconfig==2.0.0
installer==0.7.0
Jinja2==2.11.3
jmespath==1.0.1
kapidox==5.90.0
lensfun==0.3.95
libwebp==0.0
lxml==5.3.0
M2Crypto==0.38.0
Mako==1.1.6
Markdown==3.3.4
markdown2==2.4.13
Markups==3.0.0
MarkupSafe==2.0.1
mercurial==6.0.1
meson==0.59.4
meson-python==0.15.0
mysql-replication==0.31
natsort==8.4.0
netsnmp-python==1.0a1
nftables==0.1
notify2==0.3.1
numpy==1.21.2
openshot-qt==3.1.1
packaging==21.3
panflute==2.3.0
pathlib2==2.3.6
pathspec==0.12.1
pbr==5.8.0
-e git+ssh://git@github.com/the4thdoctor/pg_chameleon.git@b587bb05ce20dee391932b3a6d33af3186f94042#egg=pg_chameleon
Pillow==8.4.0
pluggy==1.5.0
plumbum==1.8.2
ply==3.11
protobuf==3.20.1
pssh==2.3.4
psutil==5.9.7
psycopg2-binary==2.8.6
pwquality==1.4.4
pyasn1==0.5.1
pybind11==2.11.1
pycairo==1.20.1
pycparser==2.21
pycups==2.0.1
pycurl==7.44.1
Pygments==2.10.0
PyGObject==3.42.0
PyMySQL==0.10.1
pyparsing==2.4.7
pyproject-metadata==0.7.1
pyproject_hooks==1.0.0
Pypubsub==4.0.3
PyQt5==5.15.2
PyQt5_sip==4.19.25
pysol-cards==0.12.0
pytest==7.4.3
pytest-runner==6.0.1
python-dateutil==2.8.2
python-gflags==3.1.0
python-markdown-math==0.6
python-sane==2.9.1
pytz==2018.3
pyxdg==0.27
PyYAML==5.1.1
pyzmq==25.1.1
QScintilla==2.11.6
QtPy==2.4.1
qtwidgets==1.1
random2==1.0.1
requests==2.26.0
ReText==7.0.4
rollbar==0.15.1
rpm==4.16.1.3
rsa==4.9
s3transfer==0.9.0
SCons==4.2.0
setuptools-scm==6.0.1
sip==4.19.25
six==1.16.0
snide==0.2.2
soupsieve==2.5
tabulate==0.8.7
terminator==2.1.3
tomli==1.2.2
trove-classifiers==2024.7.2
undervolt==0.3.0
urllib3==1.26.8
vboxapi==1.0
videomass==5.0.6
webencodings==0.5.1
wxPython==4.2.1
